.intro {
  text-align: center;
  height: 500px;
  margin-top: 20%;
}

.intro h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 62px;
  color: #4A4A4A;
}

.intro h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 17px;
  color: #4A4A4A;
  width: 70%;
  margin: 0 auto;
  line-height: 22px;
}

.intro .hr-top {
  width: 80px;
  border-top: 6px solid #E1C2C9;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.intro .hr-bottom {
  width: 80px;
  border-top: 6px solid #E1C2C9;
  margin: 0 auto;
  margin-top: 20px;
}

.col-md h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 32px;
  color: #4A4A4A;
}

.col-md h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 17px;
  color: #4A4A4A;
  line-height: 26px;
}

.col-md p {
  font-family: Avenir, "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
