

.intro {
  text-align: center;
  height: 500px;
  margin-top: 20%;
}

.intro h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 62px;
  color: #4A4A4A;
}

.intro h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 17px;
  color: #4A4A4A;
  width: 70%;
  margin: 0 auto;
  line-height: 22px;
}

.intro .hr-top {
  width: 80px;
  border-top: 4px solid #E1C2C9;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.intro .hr-bottom {
  width: 80px;
  border-top: 4px solid #E1C2C9;
  margin: 0 auto;
  margin-top: 20px;
}

.hr-middle {
  width: 80px;
  border-top: 4px solid #E1C2C9;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row .col-md {
  padding-right: 40px;
  padding-left: 40px;
}

.col-md h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 32px;
  color: #4A4A4A;
}

.col-md h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 17px;
  color: #4A4A4A;
  line-height: 26px;
}

.col-md p {
  font-family: Avenir, "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.last {
  margin-top: 100px;
}

.quote {
  margin-top: 40%;
}

.quote .hr-middle {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote h2 {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #F5F5F5;
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer h4 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  padding-left: 25px;
  margin-bottom: 20px;
}

.footer h5 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  color: #E1C2C9;
}

.footer p {
  font-family: Avenir, "Trebuchet MS", Arial, sans-serif;
  font-size: 12px;
  color: #4A4A4A;
  line-height: 20px;
}

.container-footer {
  padding-left: 25px;
}

p a {
  color: #4A4A4A;
  background: #F5F5F5;
  padding-left: 5px;
  padding-right: 5px;
}

p a:hover{
  color: #4A4A4A;
  background: #E1C2C9;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

p a:focus{
  color: #4A4A4A;
  background: #F5F5F5;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
